output_masks/
gtFine/
leftImg8bit/
myenv/
results/
checkpoints/
logs/
logs/train/
logs/train/events.out*


post_evaluation_predictions/

Modelisation_projet.ipynb
Modélisation.ipynb

unet-segmentation-project/

unet_mini_no_aug_best.h5
unet_mini_total_loss_best.h5
unet_standard_best.h5
unet_standard_resumed_best.h5
vgg16_segmentation_best.h5
vgg16_segmentation_resumed_best.h5